
@model ForgetPassword
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="container">
    <div class="row">
        <form method="post">
            <input asp-for="User.Email" placeholder="Enter email" />
            <button class="btn btn-primary" type="submit">Send Email</button>
        </form>
    </div>
</div>

